lombok.log.log4j.flagUsage=error
lombok.log.log4j2.flagUsage=error
lombok.log.xslf4j.flagUsage=error
lombok.log.apacheCommons.flagUsage=error
lombok.log.javaUtilLogging.flagUsage=error
lombok.log.fieldName=logger
lombok.toString.doNotUseGetters=true
lombok.equalsAndHashCode.doNotUseGetters=true
config.stopBubbling = true
lombok.addLombokGeneratedAnnotation = true