<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
            http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">

	<display-name>autonomy</display-name>

	<!-- Enable escaping of form submission contents -->
	<context-param>
		<param-name>defaultHtmlEscape</param-name>
		<param-value>true</param-value>
	</context-param>

	<!-- SSO -->
	<!-- http://dsiwikis/fw/How_to_integrate_a_Web_application_with_Coface_SSO -->
	<context-param>
		<param-name>APPLICATION_ID</param-name>
		<param-value>autonomyView</param-value>
	</context-param>
	<context-param>
		<param-name>SSO_FILTER_PROPERTIES</param-name>
		<param-value>AUTONOMY.SSOController</param-value>
	</context-param>
	
	<!-- Defect #435: Session logging out following a timeout wrongly managed -->
	<session-config>
    	<session-timeout>30</session-timeout>
	</session-config>	
	


	<filter>
		<filter-name>CharacterEncodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<async-supported>true</async-supported>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>

	<filter>
		<filter-name>Spring OpenEntityManagerInViewFilter</filter-name>
		<filter-class>org.springframework.orm.jpa.support.OpenEntityManagerInViewFilter</filter-class>
		<async-supported>true</async-supported>
	</filter>
	
	<filter-mapping>
		<filter-name>CharacterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>Spring OpenEntityManagerInViewFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

<!-- 	XSS Prevention -->
<!-- 	http://dsiwikis/fw/XSS_Prevention -->
	<filter>
		<filter-name>XssServletFilter</filter-name>
		<filter-class>com.coface.corp.framework.security.XssServletFilter</filter-class>
		<async-supported>true</async-supported>
	</filter>
	<filter-mapping>
		<filter-name>XssServletFilter</filter-name>
		<url-pattern>*</url-pattern>
	</filter-mapping>
	
<!-- 	Creates the Spring Container shared by all Servlets and Filters0 -->
	<listener>
		<listener-class>com.coface.corp.framework.security.SessionTrackingListener</listener-class>
	</listener>
	
	<filter>
		<display-name>Session Tracking Filter</display-name>
		<filter-name>session_track_filter</filter-name>
		<filter-class>com.coface.corp.framework.security.SessionTrackingFilter</filter-class>
		<async-supported>true</async-supported>
	</filter>
	<filter-mapping>
		<filter-name>session_track_filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- Spring Security filter -->
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
		<async-supported>true</async-supported>
	</filter>

	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<error-page>
		<error-code>401</error-code>
		<location>/EIPRedirect</location>
	</error-page>
	<login-config>
		<auth-method>CLIENT-CERT</auth-method>
	</login-config>

</web-app>
